@media (min-width: 740px) and (max-width: 1023px) {
    .container_team-member {
        flex-wrap: wrap;
    }
    .container_team-item {
        width: 47.7%;
        margin: 8px;
    }
    .container_work-item {
        width: 50%;
        margin-top: -16px;
    }
    .container_work-list {
        margin: 16px 0;
    }
}
@media (max-width: 739px) {
    .header_nav-menu {
        display: none;
    }
    .header_nav-menu-mobile {
        display: inline-block;
    }
    
    .container_team-member {
        flex-wrap: wrap;
        justify-content:center;
    }
    
    .container_team-item {
        width: 100%;
    }
}