* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.white-text {
    color: #fff;
}
.clear {
    clear: both;
}
.header {
    height: 60px;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.header_logo {
    flex: 1;
    font-size: 18px;
    letter-spacing: 4px;
    padding: 20px 16px;
}
.header_nav-item {
    height: 100%;
    display: inline-block;
    padding: auto 16px;
    text-align: center;
    
}
.header_logo-link,
.header_nav-link {
    text-decoration: none;
    color: #000;
}
.header_logo:hover,
.header_nav-item:hover {
    background-color: #ccc;
}
.slider {
    height: 300px;
    width: 100%;
    background-color: #000;
}