* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.white-text {
    color: #fff;
}
.clear {
    clear: both;
}
.header {
    height: 60px;
    width: 100%;
    font-size: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 0 2px 6px rgb(180, 180, 180);
    z-index: 2;
}
.header_logo {
    flex: 1;
    font-size: 18px;
    letter-spacing: 4px;
    opacity: 0.6;
}
.header_logo-link {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 16px;
    text-align: center;
    line-height: 60px;
    
}
.header_nav-menu {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.header_nav-item {
    line-height: 60px;
    display: inline-block;
    margin: 0;
    padding: 0 16px;
}
.header_logo-link,
.header_nav-link {
    text-decoration: none;
    color: #000;
}
.header_logo-link:hover,
.header_nav-item:hover {
    background-color: #ccc;
    cursor: pointer;
}
.slider {
    position: relative;
    height: 969px;
    background: url('./img/mac.jpg') top center / cover no-repeat;
    color: #fff;
    font-size: 18px;
    padding: 0 48px;
}
.slider_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slider_title {
    font-size: 64px;
    margin-bottom: 50px;
}
.slider_dec {
    margin: 15px 0;
}
.slider_btn {
    background-color: rgba(256,256,256, 0.6);
    font-size: 18px;
    border: none;
    padding: 20px 24px;
    margin-top: 20px;
}
.slider_btn:hover {
    background-color: #ccc;
}
.slider_social {
    position: absolute;
    bottom: 3%;
}
.slider_social-link {
    color: #757575;
}
.slider_social-link:hover {
    opacity: 0.6;
}
#container_about,
#container_work {
    font-size: 18px;
    text-align: center;
}
.container_about-title,
.container_team-title,
.container_work-title,
.container_contact-title {
    font-size: 24px;
    margin: 10px 0;
}
.container_about-dec,
.container_team-dec,
.container_work-dec,
.container_contact-dec {
    margin: 28px 0 18px;
    font-size: 18px;
}
.container_about-member {
    display: flex;
    margin-top: 72px;
    padding: 0 8px;
}
.container_about-item-icon {
    font-size: 64px;
    margin-bottom: 16px;
}
.container_about-item-name {
    margin: 18px 0;
}
.container_about-item-dec {
    font-size: 15px;
    margin: 24px 8px 15px;
    line-height: 1.8;
}
.container_about-sub {
    background-color: #f1f1f1;
    display: flex;
    font-size: 15px;
}
.container_about-sub-wrap {
    flex: 1;
    padding: 0 16px;
}
.container_about-img {
    width: 50%;
    height: auto;
    border-radius: 24px;
    padding: 0 16px;
}
.container_about-sub-title {
    font-size: 24px;
    margin: 10px 0;
}
.container_about-sub-dec {
    margin: 15px 0 24px;
}
.container_about-sub-btn {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 12px 16px;
}
.container_about-sub-btn:hover {
    color: #000;
    background-color: #ccc;
}
#container_team {
    font-size: 15px;
    text-align: center;
}
.container_team-dec {
    font-size: 18px;
}
.container_team-member {
    display: flex;
    margin-top: 64px;
    padding: 0 8px;
    opacity: 0.8;
}
.container_team-item {
    width: 25%;
    margin: 0 8px;
    text-align: left;
    box-shadow: 2px 2px 6px rgb(180, 180, 180);
}
.container_team-item-img {
    width: 100%;
}
.container_team-item-wrap {
    margin: 0 16px;
}
.container_team-item-name {
    font-size: 24px;
    margin: 10px 0;
}
.container_team-item-position {
    margin: 20px 0;
    opacity: 0.6;
}
.container_team-item-dec {
    margin: 16px 0;
}
.container_team-btn {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-align: center;
    color: #000;
    text-decoration: none;
    background-color: #f1f1f1;
    margin: 20px 0;
}
.container_team-btn:hover {
    color: #000;
    background-color: #ccc;
}
.container_team-sub {
    padding: 64px 16px;
    background-color: #616161;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
}
.container_team-sub-item {
    width: 25%;
}
.container_team-sub-num {
    font-size: 36px;
}
.container_work-member {
    width: 100%;
    margin-top: 64px;
}
.container_work-list {
    display: flex;
    padding: 0 8px;
}
.container_work-item {
    width: 25%;
    padding: 8px;
}
.container_work-item:hover {
    opacity: 0.6;
}
.container_work-skill {
    padding: 64px 24px;
    background-color: #f1f1f1;
    display: flex;
    font-size: 15px;
}
.container_work-skill-text {
    padding: 0 8px;
    width: 50%;
}
.container_work-skill-title {
    font-size: 24px;
    margin: 10px 0;
}
.container_work-skill-dec {
    margin: 15px 0;
    width: 80%;
}
.container_work-skill-chart {
    padding: 0 8px;
    width: 50%;
}
.container_work-skill-chart-icon {
    margin: 15px 15px 15px 0;
}
.container_work-skill-chart-name {
    display: inline-block;
    margin: 15px 0;
    letter-spacing: 4px;
}
.container_work-skill-chart-bar1,
.container_work-skill-chart-bar2,
.container_work-skill-chart-bar3 {
    display: block;
    position: relative;
    background-color: #616161;
    text-align: center;
    color: #fff;
}
.container_work-skill-chart-bar1 {
    width: 90%;
}
.container_work-skill-chart-bar1::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #9e9e9e;
    width: calc(100% * 10 / 90);
    height: 100%;
    top: 0;
    right: calc(100% * 10 / 90 * -1);
}
.container_work-skill-chart-bar2 {
    width: 85%;
}
.container_work-skill-chart-bar2::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #9e9e9e;
    width: calc(100% * 15 / 85);
    height: 100%;
    top: 0;
    right: calc(100% * 15 / 85 * -1);
}
.container_work-skill-chart-bar3 {
    width: 75%;
}
.container_work-skill-chart-bar3::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #9e9e9e;
    width: calc(100% * 25 / 75);
    height: 100%;
    top: 0;
    right: calc(100% * 25 / 75 * -1);
}
#container_pricing {
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #616161;
}
.container_pricing-title {
    font-size: 24px;
    margin: 10px 0;
}
.container_pricing-dec {
    font-size: 18px;
    margin: 18px 0;
}
.container_pricing-list {
    display: flex;
    margin-top: 64px;
    padding: 0 8px;
}
.container_pricing-item {
    width: calc(100% / 3);
    color: #000;
    background-color: #fff;
    margin: 16px 8px 0;
    align-self: center;
}
.container_pricing-item-header {
    font-size: 24px;
    padding: 32px 16px;
    color: #fff;
    background-color: #000;
}
.container_pricing-item-infor {
    padding: 16px;
    border-bottom: 1px solid #ddd;
    
}
.container_pricing-item-num {
    display: inline-block;
    font-weight: bolder;
}
.container_pricing-item-text {
    display: inline-block;
}
.container_pricing-item-infor-price {
    display: block;
    font-size: 30px;
    margin: 10px 0;
}
.opacity-06 {
    opacity: 0.6;
}
.container_pricing-item-footer {
    padding: 36px 16px;
    background-color: #f1f1f1;
}
.container_pricing-item-btn {
    padding: 16px 24px;
    background-color: #000;
    text-decoration: none;
    color: #fff;
}
.container_pricing-item-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.container_pricing-item_pro {
    
}
.container_pricing-item-header_pro {
    padding: 48px 16px;
    background-color: #f44336;
}
#container_contact {
    font-size: 15px;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
}
.container_contact-infor {
    margin: 0 16px;
    margin-top: 48px;
    text-align: left;
}
.container_contact-infor-item {
    margin: 15px 0;
}
.container_contact-icon {
    display: inline-block;
    font-size: 28px;
    margin-right: 24px;
    line-height: 1.8;
    width: 28px;
}
.container_contact-data {
    display: inline-block;
}
.container_contact-form {
    margin: 0 16px;
    margin-top: 48px;
    text-align: left;
}
.container_contact-form-data input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 16px 0;
    border: 1px solid #ccc;
    line-height: 1.8;
    font-size: 15px;
}
.container_contact-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
}
.send-mesage-btn {
    background-color: transparent;
    color: #fff;
    border: none;
}
.container_contact-btn:hover {
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.send-mesage-btn:hover,
.container_contact-btn:hover .send-mesage-btn {
    color: #000;
}
.container_contact-map {
    width: calc(100% - 28px);
    margin: 0 16px;
    margin-top: 60px;
}
.footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 64px 0;
}
.footer_btn {
    background-color: #fff;
    color: #000;
    text-decoration: none;
    padding: 12px 16px;
}
.footer_btn-icon {
    font-weight: bolder;
    margin-right: 8px;
}
.footer_social {
    margin: 16px 0;
}